#test {
  background-color: rgb(187, 127, 196);
}

h1,
h3,
form {
  text-align: center;
}

h1{padding-top: 30px;letter-spacing: 3px;font-size: 70px;text-transform: uppercase;}

h3{letter-spacing: 2px;font-style: italic;font-size: 50px;}
